extends layout

block content
        p Voici votre panier :
        .row
            .col-sm-6#divShoes
                each shoes in pageData
                    li.titleShop
                    div.oneShoe.oneCard
                        h4 Model  #{shoes.model}
                        img.imgShoes(src="/"+shoes.picture alt='shoes')
                        div.headT
                        p.shoesDesc #{shoes.desc}
                        p.shoesSize La taille est : #{shoes.size}
                        a.btn(href="/cartDelete/" + shoes.id) Supprimer du panier
        .row
            form(method='POST', action='/payment')
                input(type='hidden', name='_csrf', value=_csrf)
                p.check Utiliser la réduction 
                    input(id='usediscount', name='usediscount', type='checkbox')

                .form-group
                    button.btn.btn-primary(type='submit') Valider le panier
                    //.finnishbutton
                    //button.col-sm-3.btn.btn-primary(type='submit')
                    //a.btn.btn-link(href="/payment") Valider le panier
                    //a.btn(href="/cartFinish/" + pageData) Valider le panier
                