extends layout

block content
        h3 Voici votre panier :

        .row
            .col-sm-12#divShoes
                if (pageData == 0)
                    p.alert-info.err Votre panier est vide
                each shoes in pageData
                    li.titleShop
                    div.oneShoe.oneCard
                        h4 Model  #{shoes.model}
                        img.imgShoes(src="/"+shoes.picture alt='shoes')
                        div.headT
                        p.shoesDesc #{shoes.desc}
                        p.shoesSize La taille est : #{shoes.size}
                        a.btn(href="/cartDelete/" + shoes.id) Supprimer du panier
        .row
            .finnishbutton
                a.btn(href="/cartFinish/" + pageData._id) Valider le panier
                