extends layout

block content
  h1 SafeFootTime
  p.lead

  .row
    h3.h3shop.text-center Our shops !
    .col-sm-6#divShop
      include shop

    .col-sm-6#divMap
      include api/google-maps.pug

  hr