extends layout

block content

    h3.titShoes Our shoes

    .row
        .col-sm-6#divShoes
            each shoes in allshoes
                li.titleShop
                div.oneShoe
                    img.imgShoes(src=shoes.picture alt='shoes')
                    div.headT
                        // - var sho = Shop.findById(#{shoes.code_shop});
                        //h5.shopName Boutique #{sho.name}
                        - var avlb = shoes.available
                        case avlb
                             when true
                                img.imgShoesAva(src="/avail.png" alt='sh')
                             when false
                                img.imgShoesAva(src="/notAvail.gif" alt='sh')
                    p.shoesDesc #{shoes.desc}
                    ul.sizesList


                    button.btnOrder Order
