block content
  style.
    #map {
      width: 100%;
      height: 500px;
    }

  h3 Carte de nos magasins.


  #map

  script.
    var map;

    var shops =!{JSON.stringify(allshop)}

    var tabMarker=[];
    var tabWindow =[];

    function initMap() {
        var myLatLng =  { lat: 43.3269942, lng:-0.7532809  };
      map = new google.maps.Map(document.getElementById('map'), {
        center:myLatLng,
        zoom: 7
      });
        shops.forEach(function (shop) {
            var marker = new google.maps.Marker(
                {
                    position: {lat: shop.latitude, lng: shop.longitude},
                    map: map,
                    title: shop.name
                });
            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading">' + shop.name + '</h1>' +
                '<div id="bodyContent">' +
                '<p>' + shop.mountain + '</p>' +
                '<p>' + shop.description + '</p>' +
                '<a href =' + '/shop/'+shop._id + '>lol</a>' +
                '</div>' +
                '</div>';
            //Fenetre d'info

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function () {

                map.setZoom(8);

                infowindow.open(map, marker);
            });
            console.log(infowindow);

        });




    }

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyACIPurKhN4KOpPdwWaJ3pfGF9dwE4-XvM&callback=initMap')
